@model ShopTARgv23.Models.AccuWeathers.AccuWeatherViewModel

<h1>Forecast for the selected city</h1>

<div class="container">
    
    <hr />
    <dl class="row">

        <div class="form-group row">
                <label asp-for="TempMinValue" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.TempMinValue)
                </div>

        <div class="form-group row">
                    <label asp-for="TempMaxValue" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.TempMaxValue)
                    </div>

        <div class="form-group row">
                        <label asp-for="Text" class="col-sm-2 col-form-label"></label>
                            @Html.DisplayFor(model => model.Text)
                            </div>
        <div class="form-group row">
            <label asp-for="Severity" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Severity)
            </div>
            <div class="form-group row">
                <label asp-for="Category" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.Category)
                </div>
                <div class="form-group row">
                    <label asp-for="EffectiveDate" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.EffectiveDate)
                    </div>
                                              


                            </dl>

                            <a asp-action="Index" asp-controller="accuWeathers" class="btn btn-danger">Index</a>
                        </div>






