@model IEnumerable<ShopTARgv23.Models.Kindergartens.KindergartensIndexViewModel>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="Kindergartens" type="submit" class="btn btn-primary">Create</a>
</div>

<div class="h1">
    Kindergarten
</div>

<form method="post">
    <table class="table table-hover">
        <thed>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">GroupName</th>
                <th scope="col">ChildrenCount</th>
                <th scope="col">KindergartenName</th>
                <th scope="col">Teacher</th>
                <th scope="col"></th>
            </tr>
        </thed>
        <tbody>
            @foreach (var Kindergarten in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@Kindergarten.GroupName</td>
                    <td>@Kindergarten.ChildrenCount</td>
                    <td>@Kindergarten.KindergartenName</td>
                    <td>@Kindergarten.Teacher</td>
                    <td>
                        <a asp-action="details" asp-controller="Kindergartens" asp-route-id="@Kindergarten.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="Kindergartens" asp-route-id="@Kindergarten.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="Kindergartens" asp-route-id="@Kindergarten.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>

                rowNumber++;
            }
        </tbody>
    </table>
</form>