@model IEnumerable<ShopTARgv23.Models.Kindergarten.KindergartenIndexViewModel>

@{
    int rowNumber = 1; // Инициализация переменной для нумерации строк
}

<h1>Управление детскими садами</h1>

<a asp-action="Create" class="btn btn-primary">Добавить детский сад</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nr</th>
            <th scope="col">Группа</th>
            <th scope="col">Количество детей</th>
            <th scope="col">Название детского сада</th>
            <th scope="col">Учитель</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kindergarten in Model)
        {
            <tr>
                <td>@rowNumber</td>
                <td>@kindergarten.GroupName</td>
                <td>@kindergarten.ChildrenCount</td>
                <td>@kindergarten.KindergartenName</td>
                <td>@kindergarten.Teacher</td>
                <td>
                    <a asp-action="Details" asp-controller="Kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-info">Подробнее</a>
                    <a asp-action="Edit" asp-controller="Kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-primary">Изменить</a>
                    <a asp-action="Delete" asp-controller="Kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-outline-danger">Удалить</a>
                </td>
            </tr>
            rowNumber++; // Увеличение номера строки
        }
    </tbody>
</table>
