@model ShopTARgv23.Models.GameFrees.GameFreeSearchViewModel


<h1>Search Game</h1>

<hr />

<div class="container">

    <hr />
    <dl class="row text-dark">
        <div class="form-group row">
            <label asp-for="id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.id)
            </div>
<div class="form-group row">
            <label asp-for="title" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.title)
</div>
<div class="form-group row">
            <label asp-for="thumbnail" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.thumbnail)
</div>

<div class="form-group row">
            <label asp-for="short_description" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.short_description)
    </div>
<div class="form-group row">
            <label asp-for="game_url" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.game_url)
    </div>
<div class="form-group row">

            <label asp-for="genre" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.genre)
    </div>
<div class="form-group row">
            <label asp-for="platform" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.platform)
    </div>


<div class="form-group row">
            <label asp-for="publisher" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.publisher)
            </div>
<div class="form-group row">
    <label asp-for="developer" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.developer)
            </div>

<div class="form-group row">
    <label asp-for="release_date" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.release_date)
            </div>
<div class="form-group row">
    <label asp-for="freetogame_profile_url" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.freetogame_profile_url)
            </div>
    </dl>
    <hr />
    <div class="">
        <form method="post">
            <button asp-controller="gameFree" asp-action="searchGameFree" class="btn btn-primary">Game</button>
        </form>
        <button asp-controller="gameFree" asp-action="index" class="btn btn-primary">Index</button>
    </div>
</div>

     




