@model IEnumerable<ShopTARgv23.Models.Thecocktaildbs.ThecocktaildbViewModel>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                @foreach (var cocktail in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="cocktail-card card">
                            <img class="card-img-top" src="@cocktail.strDrinkThumb" alt="@cocktail.strDrink" />
                            <div class="card-body">
                                <h5 class="card-title">@cocktail.strDrink</h5>
                                <p class="card-text">
                                    @if (!string.IsNullOrEmpty(cocktail.strCategory))
                                    {
                                        <span><strong>Category:</strong> @cocktail.strCategory</span>

                                        <br />
                                    }
                                    @if (!string.IsNullOrEmpty(cocktail.strAlcoholic))
                                    {
                                        <span><strong>Type:</strong> @cocktail.strAlcoholic</span>

                                        <br />
                                    }
                                    @if (!string.IsNullOrEmpty(cocktail.strGlass))
                                    {
                                        <span><strong>Glass:</strong> @cocktail.strGlass</span>

                                        <br />
                                    }
                                </p>
                                @if (!string.IsNullOrEmpty(cocktail.strInstructions))
                                {
                                    <p class="card-text"><strong>Instructions:</strong> @cocktail.strInstructions</p>
                                }
                                <a href="@cocktail.strVideo" class="btn btn-primary" target="_blank"
                                @(cocktail.strVideo == null ? "disabled" : null)>
                                    Watch Recipe
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
